.wrapper{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}
.Recommendations{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #DBEBE0;
    border-radius: 25px;
    margin: 20px 100px;
    padding: 50px 50px;
}

.recommendText {
    align-self: center;
}


