.linkBtn {
    color: white;
    text-decoration: none;  
}

.submitBtn {
    padding-top: 30px;
}

/* .Center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:75vh;  
} */

form {
    background: #55acf3;
    padding: 1.5em;
    border-radius: 1em;
    margin-top: 50px;
}

