.btn {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;  
    width: 50vw;
}

form {
    background: #55acf3;
    padding: 1.5em;
    border-radius: 1em;
}