
.plantDetail{
    width: 100vw;
    height: 90vw;
    margin: 0 auto;
    padding: 50px 30%;
}
.plantInfo{

    padding: 35px 25px 25px 25px;
    line-height: 250%;
    float: left;
    text-align: center;
    font-size: 19px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;

}

.plantInfo > img{
    padding: 25px 0;
    width:500px!important;
    float:left;
}
.plantInfo > h1{
    display:block;
}
.plantInfo > a {
    float:left;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    color:black;
    background-color: #2f574a;
    transition-duration: 0.4s;
}
.plantInfo > a:hover{
    background-color: rgb(241, 211, 226);

}
.detailButton{
    border: none;
    padding: 30px 35px;
    border-radius: 15px;
    font-size: 20px;
    background-color: #2f574a;
    transition-duration: 0.4s;
 
}
.detailButton:hover{
    background-color: rgb(241, 211, 226);
}