.WishLineItem{
    padding: 35px 25px 25px 25px;
    line-height: 250%;
    float: left;
    text-align: center;
    font-size: 19px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}