


.btn {
    margin-left: 15px;
    margin-top: 20px;
}



.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:75vh;  
}



.signUpForm {
    
    padding: 1.5em;
    border-radius: 1em;
    margin-left: 20px;
    
}
